@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&display=swap');

body{
    background-color: #f2dcb1;
    color: #012016;
}

#container {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 6vw;
 font-family: 'Libre Bodoni', serif;

}

h1 {
    font-weight: 700;
    text-align: center;
    color: #ac1a2f;
}

